@font-face { 
  font-family: 'horny-webfont';
  src: url('fonts/horny-webfont.eot');
  src: url('fonts/horny-webfont.eot?#iefix') format('embedded-opentype'),
   url('fonts/horny-webfont.woff') format('woff'),
   url('fonts/horny-webfont.ttf') format('truetype'),
   url('fonts/horny-webfont.svg#webfont') format('svg');
}

body {
  font-family: 'Germania One', sans-serif;
  background-color: #010101;
  background-image: url('../imgs/grid.gif');
  color: #FF00A7;
}

h1 {
  display: inline;
  font-size: 3em;
}


a:link {
  color: #00FAC3;
  text-decoration:none;
}

a:visited {
  color: #00FAC3;
}

a:hover {
  color: #0000cf;
}

#featured {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border-bottom: solid gray;
  overflow: hidden;
}

.project {
  position: relative;
  left: 23px;
  text-align: center;
  line-height: 80px;
  background-color: #000;
  margin: 15px;
  width: 190px;
  height: 120px;
  border: solid #222222;
  float: left;
}

.project#go:hover {
  background-image:url('../imgs/hivego.png');
}

.project#dotty:hover {
  background-image:url('../imgs/dotty.png');
}

.project#stego:hover {
  background-image:url('../imgs/stego.png');
}

#pagewrapper {
  width: 800px;
  margin: 20px auto;
}

#title {
  text-align: center;
  width: 710px;
  margin: 0px auto;
  padding: 10px;
  border-bottom: solid gray;
}

#flame_l {
  z-index: -1;
  position: relative;
  left: 42px;
  top: 9px;
}

#flame_r {
  z-index: -1;
  position: relative;
  left: -42px;
  top: 9px;
}

div#preload {
  display: none;
}
